h1{
    color: red;
    text-align: center;
}

/* id selector */
#one{
    color: green;
    line-height: 25px;
    word-spacing: 25px;
    text-transform: capitalize;
}
#two{
    color: yellow;
    line-height: 25px;
    word-spacing: 25px;
    text-transform: capitalize;

}

/* class selector */
.classselector{
    color: brown;
    line-height: 25px;
    text-indent: 50px;
    text-transform: uppercase;
}

/* child */
#child > a{
    color: red;
}

/* desc */
#desc a{
    color: green;
}